RPC_Style_Client/xml-resources/web-service-references/BlockChainService/wsdl/localhost_8080/SOAPServer/BlockChainService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soapserver/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soapserver/">

<xs:element name="addBlock" type="tns:addBlock"/>

<xs:element name="addBlockResponse" type="tns:addBlockResponse"/>

<xs:element name="toString" type="tns:toString"/>

<xs:element name="toStringResponse" type="tns:toStringResponse"/>

<xs:element name="verifyChain" type="tns:verifyChain"/>

<xs:element name="verifyChainResponse" type="tns:verifyChainResponse"/>

<xs:element name="viewBlocks" type="tns:viewBlocks"/>

<xs:element name="viewBlocksResponse" type="tns:viewBlocksResponse"/>

<xs:complexType name="toString">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="toStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewBlocks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewBlocksResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBlock">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBlockResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="verifyChain">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="verifyChainResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>