RPC_Style_Client/xml-resources/web-service-references/BlockChainService/wsdl/localhost_8080/SOAPServer/BlockChainService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapserver/" name="BlockChainService">
<types>
<xsd:schema>
<xsd:import namespace="http://soapserver/" schemaLocation="http://localhost:8080/SOAPServer/BlockChainService?xsd=1"/>
</xsd:schema>
</types>
<message name="toString">
<part name="parameters" element="tns:toString"/>
</message>
<message name="toStringResponse">
<part name="parameters" element="tns:toStringResponse"/>
</message>
<message name="verifyChain">
<part name="parameters" element="tns:verifyChain"/>
</message>
<message name="verifyChainResponse">
<part name="parameters" element="tns:verifyChainResponse"/>
</message>
<message name="viewBlocks">
<part name="parameters" element="tns:viewBlocks"/>
</message>
<message name="viewBlocksResponse">
<part name="parameters" element="tns:viewBlocksResponse"/>
</message>
<message name="addBlock">
<part name="parameters" element="tns:addBlock"/>
</message>
<message name="addBlockResponse">
<part name="parameters" element="tns:addBlockResponse"/>
</message>
<portType name="BlockChainService">
<operation name="toString">
<input wsam:Action="http://soapserver/BlockChainService/toStringRequest" message="tns:toString"/>
<output wsam:Action="http://soapserver/BlockChainService/toStringResponse" message="tns:toStringResponse"/>
</operation>
<operation name="verifyChain">
<input wsam:Action="http://soapserver/BlockChainService/verifyChainRequest" message="tns:verifyChain"/>
<output wsam:Action="http://soapserver/BlockChainService/verifyChainResponse" message="tns:verifyChainResponse"/>
</operation>
<operation name="viewBlocks">
<input wsam:Action="http://soapserver/BlockChainService/viewBlocksRequest" message="tns:viewBlocks"/>
<output wsam:Action="http://soapserver/BlockChainService/viewBlocksResponse" message="tns:viewBlocksResponse"/>
</operation>
<operation name="addBlock">
<input wsam:Action="http://soapserver/BlockChainService/addBlockRequest" message="tns:addBlock"/>
<output wsam:Action="http://soapserver/BlockChainService/addBlockResponse" message="tns:addBlockResponse"/>
</operation>
</portType>
<binding name="BlockChainServicePortBinding" type="tns:BlockChainService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="toString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verifyChain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewBlocks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBlock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BlockChainService">
<port name="BlockChainServicePort" binding="tns:BlockChainServicePortBinding">
<soap:address location="http://localhost:8080/soapserver/BlockChainService"/>
</port>
</service>
</definitions>